@import "tailwindcss";

@theme {
  --color-forest: #1B3022;
  --color-gold: #DAA520;
  --color-slate: #4A4E69;
  --color-offwhite: #FDFDFD;
  
  --font-sans: var(--font-inter);
  --font-serif: var(--font-fraunces);
}

@layer base {
  body {
    @apply bg-offwhite text-forest font-sans antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}

/* Custom Utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
